body {
    color: black;
    padding: 2em;       /* Padding is 2 times the current zoom level font size */
}

footer {
    margin-top: 64px;  /* Keeps footer a bit separated from main content */
}


